<div class="editor-window row overflow-hidden p-0 m-0 ">
  <div class=" d-flex flex-row middle-pane p-0 m-0 w-100 h-100 ">
    <bb-panel #bottomWindow236 id="bottom-window2" [isView]='false' [divider]="divider3q" [rFlex]="true">
      <bb-panel id="top-window3" #topWindow3q [isView]='false' class="pane-width" [parent]="bottomWindow236"
        [rFlex]="true">
        <lib-json2crud [loadData]="loadData" [saveUrl]="saveUrl" [config]="configJson" title="Oops 2 New"
          class="w-100 h-100" (save)="saveData($event)"></lib-json2crud>
      </bb-panel>
      <bb-panel-divider #divider3q [parent]="bottomWindow236" [axis]="'y'"></bb-panel-divider>
      <bb-panel #bottomWindow23q id="bottom-window2" class="pane-width" [isView]='false' [divider]="divider5q" [parent]="bottomWindow236"
        [rFlex]="true">
        <bb-panel class="pane-height" #bottomWindow5q id="bottom-window2" [isView]='false' [parent]="bottomWindow23q"
          [rFlex]="true">
          <lib-json2crud [loadData]="inputData" [saveUrl]="saveUrl" [config]="configInputJson" title="Oops Input"
            (save)="processInput($event)" class="w-100 h-100"> </lib-json2crud>
        </bb-panel>
        <bb-panel-divider #divider5q [parent]="bottomWindow23q" [axis]="'x'"></bb-panel-divider>
        <bb-panel #bottomWindow6q id="bottom-window2" [isView]='false' [parent]="bottomWindow23q" class="pane-height"
          [rFlex]="true">
          <lib-json2crud [loadData]="outputData" [saveUrl]="saveUrl" [config]="configOutputJson" title="New output"
             class="w-100 h-100"></lib-json2crud>
        </bb-panel>
      </bb-panel>
    </bb-panel>
  </div>
</div>
