/* You can add global styles to this file, and also import other style files */

section {
  display: table;
}

.mat-expansion-panel-body {
  padding-right: 0px !important;
}
.striped{
  background-color: grey;
}


button:focus{
  outline: none!important;
}

.mat-expansion-panel-header.mat-expanded {
  height: unset!important;
}
